@import './stylus/componentes/globales.styl';
@import './stylus/componentes/buscadores.styl';
@import './stylus/componentes/filtros.styl';
@import './stylus/componentes/cajas.styl';
@import './stylus/componentes/estadisticas.styl';